{% extends "polls/base.html" %}

{% block title %}Django Polls{% endblock title %}

{% block content %}
{% load static %}

<section id="introduction">
  <div class="container">
    <div class="row fill-viewport align-items-center"> 
      <div class="col-12 col-md-6">
        <h1 class="f">Django Polls</h1>
        <p class="d">Creating online poll campaigns just got easier.</p>
        <p>Photo by <a class="text-dark" 
        href="https://unsplash.com/photos/RE-8WswW95o?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">
        Joanna Kosinska</a> on <a href="https://unsplash.com" class="text-dark">Unsplash</a></p>
        <a class="btn btn-dark" href="{% url 'users:signup' %}" role="button">Get Started</a>

      </div>
    </div>
  </div>
</section>

<section id="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 mx-auto text-center mt-4 pt-4">
        <span>
          <h1 class="font-weight-bold">Django Polls</h1>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-8 mx-auto text-center">
        <a href="https://twitter.com/bunyaminu_">
          <i class="fa fa-2x fa-twitter my-3 mx-2 text-dark"></i>
        </a>
        <a href="https://github.com/bunya017/evotche">
          <i class="fa fa-2x fa-github my-3 mx-2 text-dark"></i>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-8 mx-auto text-center mb-5">
        <p class="pt-2 d">dollabills007@gmail.com <br>+2348112210423</p>
      </div>
    </div>
  </div>
</section>

<style type="text/css">
	.d {
		font-size: 1.3rem;
		font-weight: 500;
	}
	.f {
		font-weight: 600;
	}
  .bigg {
    font-size: 2rem;
    font-weight: 300;
  }

</style>


{% endblock content %}